{% extends 'base.html.twig' %}

{% block title %}Hello FormatController!{% endblock %}

{% block body %}
<h1>{{title}}</h1>

{% if title|length > 50 %}
    <p>C'est trop long ! </p>
{% else %}
    <p> Longueur du titre : {{title|length}} caractères</p>
    {{dump(formats)}}
{% endif %}

{% endblock %}
